html{
    Background-color: #ebfc00;
    Min-height: 1000px;
    Font-family: "helvética neve";
    Background: url(1.0.png), 
    Linear-gradient(to left, #fffb00, #ff5e00);
    }
    
   
    .contenedor{
    
    margin: 150px auto;
    width: 600px;
    padding: 50px;
    background: rgb(255, 0, 0);
    border-radius: 40px;
    
    }
    .contenedor h2{
        margin: 10 10 60px;
        padding: 10px;
        font-size: 50px;
        color: rgb(255, 230, 2);
        text-align: center;
        }
        
        .contenedor .elemento label {
        
        color: rgb(255, 255, 255);
        
        }
        .contenedor .elemento input  {
            width:100%;
            padding: 0px 30;
            color: rgb(255, 230, 0);
            background: transparent;
            text-align: center;
            border: none;
            border-bottom: 2px solid #c8fafa;
            margin-bottom: 20px;
            
            
            }
            .contenedor .elemento .boton input{
       
                text-align: center;
                
                background-color:rgb(31, 240, 3);   
                border-radius: 50px;
                font-size: 10px;
                
                }
        
                
        .enter button{
                    padding: 0.5em 1em;
                    border: none;
                    margin: 60px auto;
                    width: 300px;
                    background-color: cadetblue;
                    cursor: pointer;
                    border-radius: 10px
                }
                button:hover{
                    background-color:yellow;
                }
      
    