p{
    color: rgb(38, 28, 45);
    background-color: rgb(255, 72, 0);
    padding: 5px;
    border: 10px  solid rgb(241, 229, 10);
    margin: 40px 20px 30px 40px;
    text-align: center;
}
table{
    width: 500;
   
}
caption{
    color: rgb(104, 255, 4);
    font-family:cursive;
    font-size: 25px;
    line-height: 70px;
    
}
table, th, td{
    border: 1px rebeccapurple;
    border-collapse:unset;
    padding: 5px;
}
 td{
     text-align: center;
 }
th{
    background-color: orangered;
    color:aliceblue;
}
tr:nth-child(even){
    background-color: rgb(225, 255, 0);
}