
html{
    Background-color: #ccd8e2;
    Min-height: px;
    Font-family: "helvética neve";
    Background: url(fgh.jpg), 
    Linear-gradient(to left, #8d056f, #ffffff);
    }

*{
    margin: px;
    padding: 2;
    box-sizing: border-box;
}


div {
    margin-top: 10px;
    margin-left: 10px;
    width: 150%;
    height:150px;
    background: #6f37a4;
    border-radius: 50%;
    animation-name: mover;
    animation-duration: 10s;
   
}

.div:hover {
    animation-play-state: paused;
}
@keyframes mover {
    0% {
        transform: translateX(10%);
        background-image: #6f37a7;
    }
    
    10% {
        transform: translateX(10%) translateY(10%);
    }
}

body{
    margin: 0;
    font-family:cursive;
    font-size: 1rem;
    
    line-height: 1.5;
    color: #f5ebeb;
    text-align: left;
}
h1{
    text-align: center;
    
}
form{
    text-align: center;
    
}
p{
    text-align: center;

}