*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    margin-top: 43%;
}


body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    place-content: center;
    color: white;
    width: 100%;
    margin-top: 23px;
    height:100vh;

    background-image: linear-gradient(
        to bottom right,
        #9664bb 0%,
        #6f37a4 20%,
        #95289b 40%,
        #fe7098 60%,
        #f973d2 80%
    );

    background-size: 200% 200%;

    animation: movimiento 10s linear infinite 
    alternate;
}

@keyframes movimiento {
    from {
        background-position: 0 0;
    }
    to{
        background-position: 100% 100%;
    }
}
img{
    border-radius: 23%;
    width: 37%;
    text-align: center;
    margin-left: 23%;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 37px;
    text-align: center;
    color: rgb(255, 255, 255);
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    text-align: center;
    color: rgb(255, 255, 255);
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    text-align: center;
    color: rgb(255, 255, 255);
}
form{
    text-align: center;
    width: 100%;
}