
table{
    width: 200;
   
}
caption{
    color: rgb(255, 109, 4);
    font-family:cursive;
    font-size: 25px;
    line-height: 70px;
    
}
table, th, td{
    border: 1px solid rgb(255, 109, 4);
    border-collapse:unset;
    padding: 5px;
}
 td{
     text-align: center;
 }
th{
    background-color: orangered;
    color:aliceblue;
}
tr:nth-child(even){
    background-color: rgb(225, 255, 0);
}
tr:nth-child(odd){
    background-color: rgb(255, 106, 0);
}
 ol{
     list-style: none;
     counter-reset: contador;
 }
 ol li{
     counter-increment: contador;
 }
 ol li::before{
     content: counter(contador)"-.";
     color: gold;
 }
 ol li::after{
    content:"**";
    color: gold;
}
ul{
    list-style-type: none;
    background-color:rgb(255, 145, 0);
    margin: 0;
    padding: 11000;
    overflow: hidden;
    border: 5px double;
    
}
li a{
    float: left;
    display: block;
    color:rgb(41, 0, 248);
    text-align:center;
    padding: 15px;
    text-decoration: none;
    font-size:larger;
    text-align: center;
  
   
}
li a:hover{
background-color: rgb(238, 255, 0);



}