* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    }
    .limpiarEstilos::after {
    content: "";
    display: table;
    clear: both;
    }
    body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
    }
    .derecha { float: right; }
    .rojo { color: hsl(0, 0%, 100%) !important; }
    .rojofocus:focus { border: 1px solid #f30707 !important; }
    .cabecero {
    height: 60vh;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    border-radius: 20px;
    color: #fff;
    background: url(pngegg\ \(7\).png), #fd0202;
    background: url(pngegg\ \(7\).png), -webkit-gradient(linear, 
    right top, left top, from(#ffffff), to(#f50303));
    background: url(fondo.png), linear-gradient(to left, 
    #e8f807, #fa0404)
    }
    .presupuesto {
    position: absolute;
    width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f9f8f4;
    }
    .presupuesto_titulo{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
    }
    .presupuesto_valor {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
    }
    .presupuesto_ingreso,
    .presupuesto_egreso {
    padding: 12px;
    text-transform: uppercase;
    }
    .presupuesto_ingreso {
    margin-bottom: 10px;
    background-color: #fad60a;
    border-radius: 110px;
    }
    .presupuesto_egreso {
    background-color: #020061;
    border-radius: 110px;
    }
    .presupuesto_ingreso--texto,
    .presupuesto_egreso--texto {
    float: left;
    font-size: 13px;
    color: #fff;
    margin-top: 2px;
    }
    .presupuesto_ingreso--valor,
    .presupuesto_egreso--valor {
    letter-spacing: 2px;
    float: left;
    }
    .presupuesto_ingreso--porcentaje,
    .presupuesto_egreso--porcentaje {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 5px 0;
    margin-left: 10px;
    }
    .presupuesto_egreso--porcentaje {
    background-color: rgba(255, 0, 0, 0.2);
    text-align: center;
    border-radius: 3px;
    }
    .agregar {
    padding: 14px;
    border-bottom: 1px solid #ffffff;
    background-color: -webkit-gradient #020061, #15014b, #ff0000    
    }
    .agregar_contenedor {
    margin: 9 auto;
    text-align: center;
    border-radius: 35%;
    }
    .agregar_tipo {
    width: 55px;
    border: 1px solid #040353;
    height: 44px;
    font-size: 18px;
    color: inherit;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    font-weight: 1300;
    transition: border 1.3s;
    border-radius: 35%;
    }
    .agregar_descripcion,
    .agregar_valor {
    border: 1px solid #1b1212;
    background-color: rgb(255, 255, 255)    ;
    color: inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding: 12px 15px;
    margin-right: 5px;
    border-radius: 215px;
    transition: border 0.3s;

    }
    .agregar_descripcion { width: 400px;}
    .agregar_valor { width: 100px;}
    .agregar_btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #070703;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 5px;
    }
    .agregar_btn:active { transform: translateX(2px); }
    .agregar_tipo:focus,
    .agregar_descripcion:focus,
    .agregar_valor:focus {
    outline: none;
    border: 11px solid #e70606;
    }
    .agregar_btn:focus { outline: none; }
    .contenedor {
    width: 860px;
    margin: 50px auto;
    padding-top: 1px;
    text-align: center;
    }
    .ingreso {
    float: left;
    width: 470px;
    margin-right: 0px;
    }
    .egreso{
    float: left;
    width: 470px;
    margin-right: 0px;
    }
    h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    padding-top: 20px;
    -webkit-text-size-adjust: #f50404;
    -webkit-text-stroke: 1px rgb(252, 66, 9);
    font-size: 30px;
    text-align: center;
    width: 136%;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    }
    .ingreso_titulo { color: #18005a; }
    .egreso_titulo { color: #18005a; }
    .elemento {
    padding: 5px;
    width: 145%;
    border-bottom: 4px solid #110346;
    margin: unset;
    border-radius: 9%;
    }
    .elemento:first-child { border-top: 11px solid #faee08; }
    .elemento:nth-child(even) { background-color: #faee08; }
    .elemento_descripcion {
    float: left;
    width: 21%;
    
    }
    .elemento_valor {
    float: left;
    transition: transform 0.3s;
    }
    .elemento_porcentaje {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #080808;
    padding: 3px;
    border-radius: 3px;
    width: 45px;
    text-align: center;
    }
    .ingreso .elemento_valor,
    .ingreso .elemento_eliminar--btn {
    color: #090909;
    }
    .egreso .elemento_valor,
    .egreso .elemento_porcentaje,
    .egreso .elemento_eliminar--btn {
    color: #fa0000;
    }
    .elemento_eliminar {
    float: left;
    }
    .elemento_eliminar--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
    }
    .elemento_eliminar--btn:focus { outline: none; }
    .elemento_eliminar--btn:active { transform: translateY(2px); }
    .elemento:hover .elemento_eliminar--btn { display: block; }
    .elemento:hover .elemento_valor { transform: translateX(-120px); }
    .elemento:hover .elemento__porcentaje { transform: translateX(-
    20px); }
    h3{
    text-align:inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(245, 243, 243);
    font-size: 30px;
}
img{
    margin-left: 50%;
    width: 35%;
}